body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

td.active {
    font-size: 1.1em;
    color: #080;
}

td:focus-within {
    outline: solid green 0.2em;
}

details>details {
    margin-left: 1em;
}
details[open] summary{
    margin-left: -1em;
}
details[open] {
    margin-left: 1em;
}

.selected {
    outline: solid blue;
}

.future {
    background-color: lightgrey;
}

table {
    border-spacing: 0px;
}

#players,#players th,#players td {
    border: solid black 1px;
    border-collapse: collapse;
}

#share-cos,#share-cos th,#share-cos td {
    border: solid black 1px;
    border-collapse: collapse;
}

.grid {
    border: solid black 1px;
}

.ipo {
    border: solid red 1px;
}
.yellow {
    background-color: yellow;
}
.brown {
    background-color: brown;
}
.red {
    background-color: red;
}
.share {
    border: solid blue 1px;
}
.sold {
    background-color: #fef;
}
.operated {
    background-color: #eef;
}
.not-floated {
    background-color: yellow;
}
.shares-select {
    border: solid blue;
}
.share-select {
    border: solid green;
}

.p {
    color: red;
}
.marker {
    border: solid black 1px;
}
.Erie {
        color: transparent;
        clip-path: circle();
        background: linear-gradient(red 40%,white 40%, white 60%, green 60%);
      }
.B\&O {
        color: transparent;
        clip-path: circle();
        background: linear-gradient(blue 40%,white 40%, white 60%, blue 60%);
      }
